*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin-left: 39px;
}


/* Menu de Navigation Style */
.navbar{
    position: fixed;
    width: 100%;
    padding: 31px 0;
    /*background: crimson;*/
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.navbar .logo a{
    margin-left: 5px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: Arial;
    
}

.navbar .logo a span{
    color: #0ce; 
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}


.navbar .menu li a{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    font-family: Avenir;
    margin-left: 60px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: red;
}

.menu{
    margin-right: -355px;