@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

@import url(//db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand);

@font-face {font-family: "Snell Roundhand"; src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot"); src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.svg#Snell Roundhand") format("svg"); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* Menu de Navigation Style */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: Avenir;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #111;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.navbar .logo a{
    margin-left: 5px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    
    
}

.navbar .logo a span{
    color: #0ce; 
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}


.navbar .menu li a{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: red;
}

.navbar.sticky .menu li a:hover{
    color: #0ce;
}

/* .menu{
    margin-right: -355px;
} */
/* Section Accueil Style */
.home{
    display: flex;
    background: url("Images/Background.jpg")  no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 85px;
    /* margin: 4px 0; */
    font-family: Snell Roundhand;
}

.home .home-content .text-2{
    font-size: 50px;
    font-weight: 600;
    margin-left: 10px;
    font-family: Avenir;
}


/* Section About Style */


.about{
    font-family: Avenir;
    background: #111;
    color: #fff;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: Arial;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translate( -50% );
}

.about .title::after{
    content: "Qui suis-je";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #0ce;
    padding: 5px;
    background: #111;
    transform: translate( -50% );
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between0;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: #0ce;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* contenu similaire  */
section{
    padding: 100px 0;
}

.about, .skills{
    font-family: Avenir;
}

.about, .about-content, .skills, .skills-content, footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between0;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: Arial;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX( -50% );
}

section .title::after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #0ce;
    padding: 5px;
    /* background: #fff; */
    transform: translateX( -50% );
}

/* Section Skills Style */

.skills{
    color: #fdfdfd;
    background: #575353;

}

.skills .title::after{
    content: "Ce que je sais";
    background: #575353;
}

.skills .skills-content .column{
    width: calc( 50% - 10px );
}

.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;

}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line:before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #0ce;
}

.skills-content .right .Photoshop::before{
    width: 80%;
}

.skills-content .right .Illustrator::before{
    width: 75%;
}

.skills-content .right .html::before{
    width: 50%;
}

.skills-content .right .css::before{
    width: 45%;
}

.skills-content .right .swift::before{
    width: 30%;
}

/* Footer Section Style */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    justify-content: center;
}

footer span a{
    color: #0ce;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}