
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin-left: 39px;
}


/* Menu de Navigation Style */
.navbar{
    position: fixed;
    width: 100%;
    padding: 31px 0;
    /*background: crimson;*/
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.navbar .logo a{
    margin-left: 5px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: Arial;
    
}

.navbar .logo a span{
    color: #0ce; 
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}


.navbar .menu li a{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    margin-left: 60px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: red;
}

.menu{
    margin-right: -355px;
}
/* Section Accueil Style */
.home{
    display: flex;
    background-image: url("/Volumes/LaCie 1/PROJETPORTFOLIO/Images:Logo/Images/Plan de travail 1.jpg");
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.home .max-width{
    margin: 247px 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 85px;
    font-weight: 600;
    margin-left: 1px;
}

.home .home-content .text-2{
    font-size: 50px;
    margin: 4px 0;
}