@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

@import url(//db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand);

@font-face {font-family: "Snell Roundhand"; src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot"); src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.svg#Snell Roundhand") format("svg"); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* Menu de Navigation Style */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: Avenir;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.navbar .logo a{
    margin-left: 5px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    
    
}

.navbar .logo a span{
    color: #0ce; 
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}


.navbar .menu li a{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: red;
}

.navbar.sticky .menu li a:hover{
    color: #0ce;
}

/* .menu{
    margin-right: -355px;
} */
/* Section Accueil Style */
.home{
    display: flex;
    background: url("Images/ImageBack.jpg")  no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 70px;
    /* margin: 4px 0; */
    font-family: Snell Roundhand;
}

.home .home-content .text-2{
    font-size: 55px;
    font-weight: 600;
    margin-left: -3px;
}